#logo{
    width: 190px;
}

#formality{
    text-align: center;
    width: 50%;
    margin: 0 auto;  
}

h5{
    text-align: center;
}

form{
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

#startPoint{
    position:relative;
    width:300px;
}

#destination{ 
    position:relative;
    width:300px;
}

.directionsStyle{
    margin: 0 auto;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: fit-content;
    background-color: #eceff1;
    border-radius: 25px;
    border: 2px solid #eceff1;
}